/* fonts */
@mixin declare-font-face($font-family, $font-filename, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-filename}.eot'); /* IE9 & compatibility modes */
		src: url('#{$path}#{$font-filename}.eot?#iefix') format('eot'), /* IE6-8 */
		url('#{$path}#{$font-filename}.woff2') format('woff2'), /* Blink */
		url('#{$path}#{$font-filename}.woff') format('woff'), /* Firefox, Opera */
		url('#{$path}#{$font-filename}.ttf') format('opentype'), /* Chrome */
		url('#{$path}#{$font-filename}.svg##{$font-filename}') format('svg'); /* Safari */
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

@include declare-font-face('Open Sans Regular','opensans-regular','../fonts/opensans/regular/');
@include declare-font-face('Open Sans Regular Italic','opensans-regular-italic','../fonts/opensans/regular/italic/');
@include declare-font-face('Open Sans Bold','opensans-bold','../fonts/opensans/bold/');
@include declare-font-face('Open Sans Bold Italic','opensans-bold-italic','../fonts/opensans/bold/italic/');
@include declare-font-face('Open Sans Light','opensans-light','../fonts/opensans/light/');
@include declare-font-face('Open Sans Light Italic','opensans-light-italic','../fonts/opensans/light/italic/');

$regularFontStack: Open Sans Regular,helvetica,arial,sans-serif;
$regularItalicFontStack: Open Sans Regular Italic,helvetica italic,arial italic,sans-serif;
$boldFontStack: Open Sans Bold,helvetica bold,arial black,sans-serif;
$boldItalicFontStack: Open Sans Bold Italic,helvetica bold italic,arial black italic,sans-serif;
$defaultFontStack: Open Sans Light,helvetica,arial,sans-serif;
$italicFontStack: Open Sans Light Italic,helvetica italic,arial italic,sans-serif;