@mixin property-with-rgba($property, $color, $opacity: 0.3) {
    #{$property}: $color; 
    #{$property}: rgba($color, $opacity);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/* colors */
$gold: #bf9a5e;
$black: #000;
$charcoal: #494949;
$grey: #d6d6d6;
$pearl: #f8f8f8;
$white: #fff;
$lightGrey: #939598;

/* body */
$bodyBackground: #fff;

/* article */
$bodyContentColor: #1f1f1f;
$excerptColor: #686767;

/* links */
$linkColor: #000;
$hoverColor: #deba80;
$visitedColor: #c5c5c5;