/* footer */
footer { background: url(../images/footer-bg.png); color: #fff;}
footer>.sw { padding-left: 220px; }

footer .logo { position: absolute; top:40px; left:0;}

.footer-contact { position: absolute; width: 220px; bottom:20px; left:0; padding: 0 20px 0 0; font-size: 12px; color: #dcddde;}
.footer-contact address { margin-bottom: 20px;}
.footer-contact a { color: #dcddde; text-decoration: underline;}
.footer-contact a:hover { text-decoration: none; }

.footer-contact .phones { width: 150px; margin-bottom: 10px;}

.footer a { color: #fff; }
.footer-nav { padding-right: 160px; position: relative; margin-bottom: 75px;}
.footer-nav .social { position: absolute; width: 150px; right:0; bottom: 14px; }
.footer-nav>ul { display: table; width: 100%; text-transform: uppercase; font-size: 12px; text-align: center;}
.footer-nav>ul>li { display: table-cell; border-style: solid; border-width: 0 1px 0 0; vertical-align: middle;
	@include property-with-rgba( border-color, #fff, 0.4 );
}
.footer-nav>ul>li>a { color: #fff; padding: 50px 5px 15px; display: block; 
	@include transition( background-color 0.15s $ease-in-out-sine );
}
.footer-nav>ul>li>a:hover { 
	@include property-with-rgba( background-color, #4a4a4a, 0.5 );
}


.footer-hotels { position: relative; padding-right: 120px;}
.footer-hotels ul { display: table; width: 100%;}
.footer-hotels li { display: table-cell; max-width: 100px;}
.footer-hotels li a { display: block; padding: 0 10px; vertical-align: top; height:50px;}
.footer-hotels .affiliated { position: absolute; top:0; right:0; width: 110px;}
.footer-hotels .affiliated span { display: block; font-size: 10px; color: #dcddde; text-transform: uppercase;}

#jac { position: absolute; right:0; top:50%; margin-top: -12px;  width: 186px; padding: 25px 0 0; background: url(../images/jac-we-create.png) 0 0 no-repeat; background-size: 186px 50px; 
	@include transition( background $ease-in-out-sine 0.15s );
}
#jac:hover { background-position: 0 bottom; }
.twox #jac { background-image: url(../images/jac-we-create@2x.png); }
.threex #jac { background-image: url(../images/jac-we-create@3x.png); }

.copyright { position: relative; border-top: 1px solid; font-size: 10px; text-transform: uppercase; color: #fff; padding: 20px 0; cursor: default; margin-top: 10px;
	@include property-with-rgba( border-color, #fff, 0.4 );
}
.copyright a { color: #fff; 
	@include transition( color 0.15s $ease-in-out-sine );
}
.copyright a:hover { color: #dadada;}
.copyright li { display: inline-block; border-left: 1px solid #fff; margin-right: -0.25em; margin-left: 5px; padding-left: 5px; line-height: 1;}
.copyright li:first-child { margin-left:0; padding:0; border: none; }