/* buttons */
/* remove default button styling */
button { background: transparent; border: none; }

.button { font-family: $regularFontStack; text-transform: uppercase; font-size: 14px; line-height: 1; padding: 10px 16px; display: inline-block; cursor: pointer;}
.button.with-ico.sprite-before:before { margin-right: 4px; }
.button.with-ico.sprite-after:after { margin-left: 4px; }

.button.sm { border-width: 1px; font-size: 10px; }
.article-head .button.sm { padding: 2px 4px;}
.button.dark-fill { background: $black; color: $white;}
.button.dark-fill.selected,
.button.dark-fill:hover { color: $white; border-color: $gold; background: $gold;}

.button {border: 2px solid #000; color: $black;}
.button.dark-bg { border-color: $white; color: $white; background: transparent;}
a:hover .button,
.button.selected,
.button.hover,
.button:hover { color: $gold; border-color: $gold;}
.button[disabled=disabled],
.button.disabled { color: $grey; border-color: $grey;}