/* selectors */
.selector { position: relative; margin: 0 0 10px; cursor: pointer; padding-right: 30px; display: inline-block; background: #fff;}
.selector:hover { }
.selector:after { right: 10px; margin-top: -10px; left:auto; pointer-events: none; top: 50%; opacity:0.5;
	/* arrow sprite */
	@extend .sprite-after:after;
	@extend .sprite-after.abs:after;
	@extend .sprite-after.dropdown:after;
}
.twox .selector:after {
	@extend .twox.sprite-after:after;
}

.threex .selector:after {
	@extend .threex.sprite-after:after;
}

.selector.with-arrow:after {
	@extend .sprite-after.arrow-down:after;
}
.selector.with-arrow:after { margin-top:-4px; }

.selector .value { display: block; padding: 9px 14px 8px; color: #939598; line-height: 1; font-family: $defaultFontStack; font-size: 14px; }
.selector select:focus+.value,
.selector:hover .value { color: #000;}

.selector:hover:after { opacity:1;}

.selector select { position: absolute; top:0; left:0; right:0; bottom:0; width: 100%; height: 100%; opacity:0; background: transparent; cursor: pointer; z-index: 10;}
.ie8 .selector select { width: 100%; height: 100%; filter: alpha(opacity=0); }