/* social */
.social { text-align: center; cursor: default;}
.social .sprite { display: inline-block; margin:0; vertical-align: middle; margin: 0 3px;}

/* social sprites */
@each $sprite in facebook,youtube,gplus,linkedin,twitter,pinterest,instagram,flickr {

	.hovered .#{$sprite}-black,
	.hovered .#{$sprite}-white,
	.#{$sprite}-black:hover,
	.#{$sprite}-white:hover {
		@extend .#{$sprite}-gold;
	}
	
}