/* line 3, ../sass/ie8.scss */
.ie8 .ov-hotel div {
  background: #444;
  text-align: left;
  overflow: hidden; }
/* line 4, ../sass/ie8.scss */
.ie8 .ov-hotel img {
  float: left;
  margin-right: 30px; }
/* line 5, ../sass/ie8.scss */
.ie8 .ov-hotel .content {
  overflow: hidden; }
